.banner {
    position: relative;
    width: 100%;
    margin-bottom: -7px;
}

.title {
    position: absolute;
    top: 0;
    left: 15%;
    font-family: var(--fonte-titulo);
    font-size: 4rem;
    width: 25%;
    color: var(--azul);
    span {
        color: var(--branco);
    }
}